*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

#artistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.card{
    width: 30%;
    box-shadow: 5px 5px 5px #22222254;
    padding: 1rem;
    border-radius: 10px;
}

#generoMusical{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.item_genero{
    padding: 0.3rem 1.5rem;
    background-color: rgba(240, 248, 255, 0.758);
    box-shadow: 5px 5px 5px rgba(232, 239, 246, 0.685) ;
    cursor: pointer;
}